<ion-header  style="padding-bottom: 6px;">
  <ion-toolbar  text-center>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-text-center">
   
    <ion-col size="2">
      <ion-card class="ion-text-center" style="background-color: rgb(225, 235, 255);">
        <ion-card-header>
          <ion-card-title color="primary">รายรับทั้งหมด</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-chip>
            <ion-label color="primary">0 THB</ion-label>
          </ion-chip>          
        </ion-card-content>
      </ion-card>
    </ion-col>
   
    <ion-col size="2">
      <ion-card class="ion-text-center" style="background-color: rgb(225, 235, 255);">
        <ion-card-header>
          <ion-card-title color="primary">รายจ่ายทั้งหมด</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-chip>
            <ion-label color="primary">0 THB</ion-label>
          </ion-chip>          
        </ion-card-content>
      </ion-card>
    </ion-col>
  
    <ion-col size="2">
      <ion-card class="ion-text-center" style="background-color: rgb(225, 235, 255);">
        <ion-card-header>
          <ion-card-title color="primary">กำไรขั้นต้น</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-chip>
            <ion-label color="primary">0 THB</ion-label>
          </ion-chip>          
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-card>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>ปี</ion-label>
          <ion-datetime displayFormat="YYYY" [(ngModel)]="year" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>เดือน</ion-label>
          <ion-datetime monthValues= "1,2,3,4,5,6,7,8,9,10,11,12" displayFormat="MM" [(ngModel)]="month" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>วัน</ion-label>
          <ion-datetime displayFormat="DD" [(ngModel)]="day" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-button (click)="logDayMonthYear()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <canvas #barCanvas></canvas>
    </ion-row>

    <ion-row>
      <canvas #barCanvas2></canvas>
    </ion-row>

    <ion-row>
      <canvas #barCanvas3></canvas>
    </ion-row>
  </ion-card>
     
</ion-content>